<% var
pageTitle = "新システムはオンプレ Windows サーバーからクラウドへ | Microsoft Azure";
pageId = "index";
pageUrl = "";
pageDescription = "サポート終了が近づく Windows Server 2008 をお使いならば、新システムは、オンプレ Windows サーバーからクラウドへの移行がおすすめです。";
pageKeywords = "";
isDevelopment = false;
%><% include _header_2 %>
<div class="main-content is-new" role="main">
  <section class="l-section catch">
    <div class="l-section__inner catch__inner is-s">
      <div class="catch__text">
        <h2 class="catch-title">
          サポート終了が近づく <br>
          <span class="en">Windows Server 2008</span> <br class="show-sp">をお使いの皆さんへ
        </h2>
        <p class="catch-desc">
          新システムは、オンプレ Windows サーバーからクラウドへの移行がおすすめ。<br>
          クラウド化により運用・管理コストの削減と、ビジネス環境に素早く適用する俊敏性を獲得しましょう。
        </p>
      </div>
      <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
    </div>
  </section>
  <section class="l-section intro" id="intro">
    <div class="l-section__inner intro__inner">
      <h3 class="intro__headline headline is-center">このようなことで<br class="show-sp">悩まれていませんか？</h3>
      <ul class="intro-list">
        <li class="intro-list__item">
          <strong>サポートが迫っている Windows Server 2008</strong> を保有していて、まだ入れ替えの検討が出来ていない
        </li>
        <li class="intro-list__item">
          ビジネスに求められるシステムの<strong>拡張性や、パフォーマンス、稼働率</strong>への対応が難しい
        </li>
      </ul>
    </div>
  </section>
  <section class="l-section outline" id="outline">
    <div class="l-section__inner is-s">
      <h3 class="outline__headline headline is-center">
        <span class="en">Azure</span> は未来のプラットフォームです。<br>
        システムを <span class="en">Azure</span> に移行しましょう。
      </h3>
      <div class="outline__contents">
        <ul class="outline-list">
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">応答性の向上</h4>
            <p class="outline-item__body">自動スケール機能により、アプリケーションの使用状況に応じて、その能力を変化させられます。ユーザー負荷が増加した場合でも、Azure Redis Cache 機能でアプリケーションの応答性を高めることができます。</p>
          </li>
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">機能拡張への対応</h4>
            <p class="outline-item__body">新たに開発することなく、Azure に用意された機能を使って、迅速に機能拡張することができます。</p>
          </li>
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">
              ビジネスニーズへの<br class="hide-sp">対応力アップ
            </h4>
            <p class="outline-item__body">オンプレミスに比べると、運用保守が効率化されるため、システム部門のリソースを機能拡張などのサービス強化、品質改善にあてることができます。</p>
          </li>
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">
              稼働率の向上
            </h4>
            <p class="outline-item__body">ハードウェアに起因するシステム障害や法定停電への対応などによるシステムの稼働率低下を最小限に抑えることができます。</p>
          </li>
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">
              信頼性の向上
            </h4>
            <p class="outline-item__body">日本初のクラウド セキュリティ ゴールドマークの取得を始め、幅広い国際的および業界固有のコンプライアンス基準に適合しています。さらに日本の FISC などの国ごとの基準も満たしています。</p>
          </li>
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">
              監視サービス
            </h4>
            <p class="outline-item__body">簡単な Web アプリから複雑なクラウド アプリケーションまで、すべてを 1 つの統合されたコンソールで構築、管理、監視できます。アプリケーション監視により的確な改善ポイントを発見し、改善サイクルを向上させることができます。</p>
          </li>
          <li class="outline-list__item outline-item">
            <h4 class="outline-item__title">
              開発生産性の向上
            </h4>
            <p class="outline-item__body">ハードウェアの調達が不要で、すぐに開発環境を用意できるため、オンプレミスより短期間でシステムを稼働させることが可能です。また実環境に即した開発を行うことができます。</p>
          </li>
        </ul>
        <p class="outline-more">ほかにも様々な革新的なサービスが利用できます。 <span class="nowrap">（<a href="https://azure.microsoft.com/ja-jp/solutions/" target="_blank">詳しくはこちら</a>）</span></p>
      </div>
      <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
    </div>
  </section>
  <section class="l-section reason" id="reason">
    <div class="l-section__inner reason__inner is-s">
      <h3 class="reason__headline headline is-center">
        <span class="en">Azure</span> が選ばれる理由
      </h3>
      <div class="reason__contents">
        <ul class="reason-list">
          <li class="reason-list__item reason-item">
            <h4 class="reason-item__title">
              <img src="assets/images/reason_support_pc.png" class="icon hide-sp" alt="">
              <img src="assets/images/reason_support_sp.png" class="icon show-sp" width="74" alt="">
              <span class="text">幅広いサポートを用意</span>
            </h4>
            <p class="reason-item__body">個人の開発者から、Microsoft Azure でビジネス展開している企業の開発者まで、フェーズよって異なるさまざまなニーズに応えられるよう、幅広いサポート オプションをご用意しています。日本語での対応が可能です。</p>
          </li>
          <li class="reason-list__item reason-item">
            <h4 class="reason-item__title">
              <img src="assets/images/reason_law_pc.png" class="icon hide-sp" alt="">
              <img src="assets/images/reason_law_sp.png" class="icon show-sp" width="61" alt="">
              <span class="text">Azure は日本法を適用</span>
            </h4>
            <p class="reason-item__body">Azure の準拠法および裁判地ともに日本法の適用下に置かれます。<br>よって、他国の条例や法律に影響を受けることはありません。</p>
          </li>
          <li class="reason-list__item reason-item">
            <h4 class="reason-item__title">
              <img src="assets/images/reason_data_pc.png" class="icon hide-sp" alt="">
              <img src="assets/images/reason_data_sp.png" class="icon show-sp" width="55" alt="">
              <span class="text">国内でディザスタ リカバリ環境を実現</span>
            </h4>
            <p class="reason-item__body">Microsoft Azure のデータセンターは、東日本と西日本で稼働しています。これにより海外にデータを出すことなく国内でディザスタ リカバリ環境を実現できます。</p>
          </li>
          <li class="reason-list__item reason-item">
            <h4 class="reason-item__title">
              <img src="assets/images/reason_security_pc.png" class="icon hide-sp" alt="">
              <img src="assets/images/reason_security_sp.png" class="icon show-sp" width="43" alt="">
              <span class="text">世界標準のセキュリティ</span>
            </h4>
            <p class="reason-item__body">Azure は各種国際基準をクリアした認定を受けているクラウドプラットフォームです。パブリッククラウドの個人情報保護の基準を定めた唯一の国際基準である、ISO 27018 の認定も取得しています。<br>（<a href="https://azure.microsoft.com/ja-jp/support/trust-center/" target="_blank">詳しくはこちら</a>）</p>
          </li>
          <li class="reason-list__item reason-item">
            <h4 class="reason-item__title">
              <img src="assets/images/reason_document_pc.png" class="icon hide-sp" alt="">
              <img src="assets/images/reason_document_sp.png" class="icon show-sp" width="41" alt="">
              <span class="text">日本の商習慣への適応</span>
            </h4>
            <p class="reason-item__body">請求書の発行や円払い対応が可能です。<br>また、為替の影響を受けることなく、お支払い可能です。</p>
          </li>
          <li class="reason-list__item reason-item">
            <h4 class="reason-item__title">
              <img src="assets/images/reason_service_pc.png" class="icon hide-sp" alt="">
              <img src="assets/images/reason_service_sp.png" class="icon show-sp" width="55" alt="">
              <span class="text">PaaS のサービスが充実</span>
            </h4>
            <p class="reason-item__body">Azure は、システムを開発する際に必要な SQL Database や、Web Apps 、Mobile Apps 、Functions 、VPN 機能など利用できます。</p>
          </li>
        </ul>
      </div>
      <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
    </div>
  </section>
  <section class="l-section step" id="step">
    <div class="l-section__inner step__inner is-s">
      <h3 class="step__headline headline is-center">クラウド導入の移行ステップ</h3>
      <p class="step__desc desc">Azure はクラウドの本当の価値を引き出します</p>
      <div class="step__image step-image">
        <div class="step-image__section is-on-premises">
          <h4 class="title">On-premises</h4>
          <div class="contents">
            <div class="step-item">
              <img src="assets/images/step_on-premises_pc.png" class="hide-sp" alt="">
              <img src="assets/images/step_on-premises_sp.png" class="show-sp" width="140" alt="">
            </div>
          </div>
        </div>
        <div class="step-image__section is-cloud">
          <h4 class="title">Cloud</h4>
          <div class="contents">
            <div class="step-item">
              <div class="step-item__title">
                <p class="step-num">
                  <span class="step">Step</span>
                  <span class="num">1</span>
                </p>
                <h5 class="step-title">既存システムの IaaS 移行</h5>
              </div>
              <p class="step-item__desc">IaaS 上に必要環境を構築しシステムを移行</p>
              <img src="assets/images/step_cloud_01_pc.png" class="step-item__image hide-sp" alt="">
              <img src="assets/images/step_cloud_01_sp.png" class="step-item__image show-sp" width="140" alt="">
            </div>
            <div class="step-item">
              <div class="step-item__title">
                <p class="step-num">
                  <span class="step">Step</span>
                  <span class="num">2</span>
                </p>
                <h5 class="step-title">既存システムのオブジェクト化、<br>および Web と DB の PaaS 化</h5>
              </div>
              <p class="step-item__desc">トラフィックにより増加する部分を PaaS 化しスケーラビリティを確保</p>
              <img src="assets/images/step_cloud_02_pc.png" class="step-item__image hide-sp" alt="">
              <img src="assets/images/step_cloud_02_sp.png" class="step-item__image show-sp" width="140" alt="">
            </div>
            <div class="step-item">
              <div class="step-item__title">
                <p class="step-num">
                  <span class="step">Step</span>
                  <span class="num">3</span>
                </p>
                <h5 class="step-title">クラウド ネイティブな<br class="hide-sp">監視ツール導入</h5>
              </div>
              <p class="step-item__desc">ビジネス ロジック部分をサーバーレス サービスを使いスケーラビリティを確保しつつ、クラウド サービスに適した監視ツールを導入し信頼性、機能強化の方向性を確保</p>
              <img src="assets/images/step_cloud_03_pc.png" class="step-item__image hide-sp" alt="">
              <img src="assets/images/step_cloud_03_sp.png" class="step-item__image show-sp" width="140" alt="">
            </div>
          </div>
        </div>
      </div>
      <p class="step__outro">Step 3 までを実行することでクラウドのメリットを最大限活かしながら、安心してサービスを稼働させることができます</p>
      <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
    </div>
  </section>
  <section class="l-section trial" id="trial">
    <div class="l-section__inner trial__inner">
      <h3 class="trial__headline headline is-center">無料の <span class="en">Azure</span> アカウントを<br class="show-sp">今すぐ作成しましょう</h3>
      <h3 class="trial__desc desc">各種 Azure サービスを確かめてください。<br class="show-sp">まずは無料でスタート。</h3>
      <p class="trial__note trial-note">
        <span class="trial-note__price">&yen;20,500</span>
        <span class="trial-note__text">のクレジット付きで始められて、<br class="hide-sp">試用期間後も一部オプションを無料で引き続き使えます。</span>
      </p>
      <div class="trial__list trial-list">
        <p class="trial-list__item trial-item">
          ERP など<br class="hide-sp">
          基幹系システムを<br class="hide-sp">
          稼働させるパワーを<br class="hide-sp">
          活用できます。
        </p>
        <p class="trial-list__item trial-item">
          基幹システムの外側に、<br class="hide-sp">
          お客様との<br class="hide-sp">
          リレーションシップを<br class="hide-sp">
          強化する <br class="hide-sp">
          WEB アプリも<br class="hide-sp">
          構築可能です。
        </p>
      </div>
      <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
    </div>
  </section>
  <section class="l-section links">
    <div class="l-section__inner links__inner">
      <h3 class="links__headline headline is-center">
        <span class="en">Azure</span> について<br class="show-sp">詳しく知りたい方はこちら
      </h3>
      <div class="links__contents">
        <div class="links-list">
          <a href="https://info.microsoft.com/JA-Azure-WBNR-FY17-12Dec-08-cloudmovingcompanysystemsdonotfail-rightLiftandShift278467_02OnDemandRegistration-ForminBody.html" class="links-list__item links-item" target="_blank">
            <h4 class="links-item__title">ウェビナー</h4>
            <p class="links-item__body">
              失敗しない社内システムのクラウドお引越し<br>
              ～正しい Lift and Shift とは～
            </p>
          </a>
          <a href="https://info.microsoft.com/JA-Azure-WBNR-FY16-05May-12-Azure-Web-Seminar-For-First-Time.html?ls=Website" class="links-list__item links-item" target="_blank">
            <h4 class="links-item__title">ウェビナー</h4>
            <p class="links-item__body">
              初めての Azure
            </p>
          </a>
          <a href="https://www.microsoft.com/ja-jp/events/eventseminar.aspx?c1=3&c2=0&c3=3&c4=0&c5=04" class="links-list__item links-item" target="_blank">
            <h4 class="links-item__title">ハンズオンセミナー</h4>
            <p class="links-item__body">
              IaaS や Web Apps、Functions などをハンズオンで学べる実践的なセミナーをご用意しています。
            </p>
          </a>
          <a href="https://www.microsoft.com/ja-jp/events/eventseminar.aspx?c1=1&c2=0&c3=3&c4=0&c5=00" class="links-list__item links-item" target="_blank">
            <h4 class="links-item__title">ソリューションセミナー</h4>
            <p class="links-item__body">
              製品概要や事例の紹介をしています。
            </p>
          </a>
          <a href="https://www.microsoft.com/ja-jp/events/azurevisioncenter/howto.aspx" class="links-list__item links-item" target="_blank">
            <h4 class="links-item__title">チュートリアル動画</h4>
            <p class="links-item__body">
              実装のノウハウや Tips が 3 分でわかるビデオを<br class="hide-sp">
              多数ご用意しています。
            </p>
          </a>
          <a href="https://www.microsoft.com/japan/msbc/Express/solution/azure_sodan/default.aspx" class="links-list__item links-item" target="_blank">
            <h4 class="links-item__title">Azure 相談窓口</h4>
            <p class="links-item__body">
              Azure の利用方法、システム構成、金額など、<br class="hide-sp">
              お気軽にご相談ください。
            </p>
          </a>
        </div>
      </div>
      <%# <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>%>
    </div>
  </section>
</div>
<% include _footer_2 %>
