.main-content {
  padding-top: 150px;

  @media #{$mq-sm} {
    padding-top: 180px;
  }

  &.is-new {
    margin-bottom: -48px;
    padding-top: 0;

    @media #{$mq-sm} {
      padding-top: 0;
    }
  }
}

.l-section {
  padding: 60px 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;

  @media #{$mq-sm} {
    padding: 30px 0;
    // height: auto;
    // min-height: 320px;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $content-width-pc;

    @media #{$mq-sm} {
    }

    &.is-s {
      max-width: $content-width-pc-s;
    }
  }
}

.catch {
  padding: 85px 0;
  background: url(../images/kv_pc.jpg) 50% 50%/cover no-repeat;
  color: #fff;

  @media #{$mq-sm} {
    padding: 30px 0;
    background-image: url(../images/kv_sp.jpg);
  }

  &__inner {

    @media #{$mq-sm} {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__text {

    .catch-title {
      line-height: 1.375;
      @include fz(42);
      font-weight: normal;
      letter-spacing: .02em;
      color: #fff;

      @media #{$mq-sm} {
        @include fz(24);
      }

      .en {
        font-size: 1.14em;
        letter-spacing: 0;
      }
    }

    .catch-desc {
      margin-top: 35px;
      @include fz(18);
      letter-spacing: .01em;

      @media #{$mq-sm} {
        margin-top: 15px;
        @include fz(14);
      }
    }
  }
}

.headline {
  @include fz(28);
  font-weight: 300;
  letter-spacing: .02em;

  @media #{$mq-sm} {
    @include fz(18);
  }

  &.is-center {
    text-align: center;
  }

  .en {
    font-size: 1.1em;
    letter-spacing: 0;
  }
}

.desc {
  margin-top: 20px;
  @include fz(16);

  @media #{$mq-sm} {
    margin-top: 15px;
    @include fz(14);
  }

  &.is-strong {
    font-weight: bold;
  }

  &.is-attention {
    font-weight: bold;
    color: #c33;
  }

  + .desc {
    margin-top: .5em;
  }

  a {
    color: $color-key;
    text-decoration: underline;
  }
}

.intro {

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$mq-sm} {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__headline {
    margin-top: -.25em;
  }
}

.intro-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px auto 0;

  &__item {
    position: relative;
    padding-left: 1.75em;
    @include fz(16);

    &:not(:first-child) {
      margin-top: .5em;
    }

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 2px;
      display: inline-block;
      width: 11px;
      height: 4px;
      vertical-align: middle;
      border-color: $color-key;
      border-style: solid;
      border-width: 0 0 3px 3px;
      transform: rotate(-45deg);
    }
  }
}

.outline {
  background: url(../images/bg_outline.jpg) 50% 50%/cover no-repeat;

  @media #{$mq-sm} {
  }

  &__headline {
    margin-top: -.25em;
    color: #fff;
  }

  &__contents {
    margin: 50px auto 0;
    padding: 0 40px;
    background: rgba(255, 255, 255, .9);

    @media #{$mq-sm} {
      margin-top: 20px;
      padding: 0 15px;
    }
  }

  .button {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.outline-list {

  @media #{$mq-sm} {
    flex-direction: column;
    margin: 0;
  }

  &__item {
    padding: 20px 0;
    border-bottom: solid 1px rgba(0, 0, 0, .05);

    @media #{$mq-sm} {
      padding: 15px 0;
    }
  }
}

.outline-item {
  display: table;
  color: #002e63;

  @media #{$mq-sm} {
    display: block;
  }

  &__title {
    display: table-cell;
    width: 308px;
    vertical-align: middle;
    line-height: 1.35;
    @include fz(20);
    font-weight: normal;
    letter-spacing: .06em;

    @media #{$mq-sm} {
      display: block;
      width: 100%;
      @include fz(18);
    }
  }

  &__body {
    display: table-cell;
    @include fz(16);

    @media #{$mq-sm} {
      display: block;
      margin-top: .75em;
      @include fz(14);
    }
  }
}

.outline-more {
  padding: 1.75em 0;
  text-align: center;
  @include fz(14);
  font-weight: bold;
  color: #002e63;

  @media #{$mq-sm} {
    @include fz(12);
  }

  a {
    text-decoration: underline;
    color: #002e63;

    &:hover {
      text-decoration: none;
    }
  }
}

.reason {

  &__inner {

  }

  &__headline {
    margin-top: -.25em;
  }

  &__list {

  }
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -12px auto 0;

  @media #{$mq-sm} {
    margin-top: 0;
    width: 100%;
  }

  &__item {
    margin-top: 60px;
    padding: 0 15px;
    width: 484px;

    @media #{$mq-sm} {
      margin-top: 28px;
      width: 100%;
    }
  }
}

.reason-item {

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 63px;
    color: $color-key;
    @include fz(18);

    @media #{$mq-sm} {
      height: auto;
      @include fz(16);
    }

    .icon {
      display: inline-block;
      margin-right: 15px;
      vertical-align: bottom;

      @media #{$mq-sm} {
        display: block;
        text-align: left;
      }
    }

    .text {
      display: inline-block;
    }
  }
  &__body {
    margin-top: .5em;
    @include fz(14);
    color: #444;

    @media #{$mq-sm} {
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.step {
  background: $color-key-d;

  &__headline {
    line-height: 1.25;
    color: #fff;
  }

  &__desc {
    text-align: center;
    color: #fff;
  }

  &__image {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }

  &__outro {
    margin-top: 20px;
    @include fz(16);
    color: #fff;

    @media #{$mq-sm} {
      @include fz(14);
    }
  }

  .button {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.step-image {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #fff;

  @media #{$mq-sm} {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    @media #{$mq-sm} {
      padding: 15px;

      &:not(:first-child) {
        margin-top: 22px;
      }
    }

    &.is-on-premises {
      width: 208px;
      background: #eee;

      @media #{$mq-sm} {
        width: 100%;
      }
    }

    &.is-cloud {
      width: 700px;
      background: $color-key-xl;

      @media #{$mq-sm} {
        width: 100%;
      }
    }

    .title {
      margin-bottom: auto;
      padding-bottom: 20px;
      line-height: 1;
      text-align: center;
      @include fz(24);
      color: $color-key-d;
      font-weight: 400;

      @media #{$mq-sm} {
        margin: 0;
      }
    }

    .contents {
      display: flex;
      justify-content: center;

      @media #{$mq-sm} {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}

.step-item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 20px;

  @media #{$mq-sm} {
    padding: 0;
  }

  &:not(:first-child) {

    @media #{$mq-sm} {
      margin-top: 75px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 142px;
      left: -6px;
      display: block;
      width: 0;
      height: 0;
      border-top: solid 15px transparent;
      border-bottom: solid 15px transparent;
      border-left: solid 15px $color-key-d;

      @media #{$mq-sm} {
        top: -45px;
        bottom: auto;
        left: 50%;
        border-top: solid 15px $color-key-d;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        border-bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  &__title {
    position: relative;
    margin-left: -20px;
    padding: 10px 0 10px 10px;
    width: 190px;
    height: 96px;
    color: #fff;
    background: $color-key-d;

    @media #{$mq-sm} {
      margin-left: 0;
      width: 100%;
      height: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -20px;
      display: block;
      width: 0;
      height: 0;
      border-top: solid 48px transparent;
      border-bottom: solid 48px transparent;
      border-left: solid 20px $color-key-d;

      @media #{$mq-sm} {
        content: none;
      }
    }

    .step-num {
      display: block;
      @include fz(14);
      color: #fff;
      font-weight: 600;

      .step {
        display: inline-block;
      }

      .num {
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%;
        background: #fff;
        color: $color-key-d;

        @media #{$mq-sm} {
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 13px;
        }
      }
    }

    .step-title {
      display: block;
      margin-top: .25em;
      @include fz(12);
      letter-spacing: 0;

      @media #{$mq-sm} {
        @include fz(14);
        letter-spacing: .02em;
      }
    }
  }

  &__desc {
    margin-top: .75em;
    margin-left: -20px;
    margin-bottom: 1.5em;
    width: 100%;
    width: calc(100% + 20px);
    @include fz(12);

    @media #{$mq-sm} {
      margin: 1em 0;
      width: 100%;
      @include fz(14);
    }
  }

  &__image {
    margin-top: auto;

    @media #{$mq-sm} {
      margin-top: 0;
    }
  }
}

.trial {
  background: url(../images/bg_trial_pc.jpg) center center/cover no-repeat;

  @media #{$mq-sm} {
    background-image: url(../images/bg_trial_sp.jpg);
  }

  &__headline {
    text-align: center;
    @include fz(34);
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      font-size: 20px;
    }

    .en {
      font-size: 1.1em;
    }
  }

  &__desc {
    text-align: center;
    font-weight: normal;
    color: #fff;

    @media #{$mq-sm} {
      margin-top: 12px;
    }
  }

  &__note {
    margin: 30px auto 0;
    width: 520px;
    font-weight: bold;
    color: #fff;
    letter-spacing: .02em;

    @media #{$mq-sm} {
      margin-top: 20px;
      width: auto;
      text-align: left;
    }

    .en {
      font-size: 1.1em;
      letter-spacing: 0;
    }
  }

  &__list {
    margin: 40px auto 0;
    width: 720px;

    @media #{$mq-sm} {
      width: auto;
    }
  }

  .button {

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.trial-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #fff;
    color: $color-base;
    white-space: nowrap;
    @include fz(20);

    @media #{$mq-sm} {
      width: 80px;
      height: 80px;
      @include fz(16);
    }
  }

  &__text {
    display: inline-block;
    padding-left: 8px;
    @include fz(16);
    letter-spacing: .06em;

    @media #{$mq-sm} {
      width: calc(100% - 80px);
      @include fz(14);
    }
  }
}

.trial-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @media #{$mq-sm} {
    flex-direction: column;
    margin-top: 20px;
  }

  &__item {

    @media #{$mq-sm} {
    }

    &:not(:first-child) {
      margin-left: 30px;

      @media #{$mq-sm} {
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }
}

.trial-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 240px;
  height: 240px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  @include fz(16);
  letter-spacing: .06em;

  @media #{$mq-sm} {
    padding: 15px;
    width: 100%;
    height: auto;
    @include fz(14);
  }

  &__icon {
    float: left;
    display: block;
    width: 60px;
    text-align: center;

    @media #{$mq-sm} {
      width: 40px;
      height: 40px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__body {
    float: left;
    padding-top: .25em;
    padding-left: 12px;

    @media #{$mq-sm} {
      float: none;
      margin-left: 40px;
      padding-top: 0;
      @include fz(12);
    }
  }
}

.links {
  background: #3e3d4d;

  @media #{$mq-sm} {
    width: 100%;
  }

  &__inner {

    @media #{$mq-sm} {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__headline {
    margin-top: -.25em;
    color: #fff;
  }

  &__contents {
    margin-top: 20px;

    @media #{$mq-sm} {
      margin-top: 0;
    }
  }
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: block;
    margin-top: 30px;
    padding: 14px 45px 14px 30px;
    width: 510px;

    @media #{$mq-sm} {
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 40px;
      width: 100%;
    }
  }
}

.links-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  color: $color-base;
  @include hover-opacity;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 23px;
    display: block;
    margin-top: -8px;
    width: 11px;
    height: 11px;
    border-color: $color-key;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);

    @media #{$mq-sm} {
      right: 16px;
      margin-top: -10px;
      width: 14px;
      height: 14px;
    }
  }

  &__title {
    @include fz(16);
    color: $color-key;

    @media #{$mq-sm} {
      @include fz(14);
    }
  }

  &__body {
    @include fz(14);
    color: $color-base;

    @media #{$mq-sm} {
      @include fz(12);
    }
  }
}
